# Makes IntelliJ organize imports produce the same layout as Eclipse

[*.java]
ij_java_imports_layout = $*,|,java.**,|,javax.**,|,org.**,|,com.**,|,*
ij_java_layout_static_imports_separately = true
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 1
ij_java_use_single_class_imports = true
